.img {
  border-radius: 50%;
  height: 1.5rem;
  margin: 10px 5px 10px 10px;
  cursor: pointer;
}

.item-head {
  font-family: sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  width: fit-content;
}

.app-dropdown-group {
  margin-bottom: 10px;
}

.app-dropdown-group,
.app-dropdown-order {
  display: flex;
}

select {
  margin-left: auto;
}

.app-display {
  display: flex;
  width: fit-content;
  font-size: 1.5rem;
  padding: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.app-display:hover {
  background-color: rgb(222, 222, 222);
}

.app-dropdown-content {
  border-radius: 10px;
  border: 1px solid grey;
  background-color: white;
  width: 300px;
  padding: 20px;
  font-family: sans-serif;
  position: absolute;
  box-shadow: 0 0 2px black;
}

.app-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.group-item {
  width: 30vw;
  font-family: sans-serif;
  font-weight: 500;
}

.item {
  margin-right: 10px;
  cursor: default;
}

.len {
  color: grey;
}

.p-icon {
  margin-left: 10px;
}