.dropdown{
  width: fit-content;
  border: 1px solid black;
}

.app-dropdown-group{
  margin-bottom: 10px;
}

.app-dropdown-group,.app-dropdown-order{
  display: flex;
}

select{
  margin-left: auto;
}

.app-display {
  display: flex;
  width: fit-content;
  font-size: 1.5rem;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  position: relative;
}

.dropdown:hover {
  background-color: rgb(181, 181, 181);
}

.app-dropdown-content {
  border-radius: 10px;
  border: 1px solid grey;
  background-color: white;
  width: 300px;
  padding: 20px;
  font-family: sans-serif;
  position: absolute;
  box-shadow: 0 0 2px black;
}