.card {
    border-radius: 10px;
    background-color: white;
    width: 30vw;
    padding: 20px;
    font-family: sans-serif;
    margin: 10px;
    box-shadow: 0 0 5px rgb(165, 162, 162);
}

.card-id-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.card-id {
    font-size: 1rem;
    color: grey;
}

.card-user-id {
    margin-left: auto;
    font-size: 1rem;
}

.card-title-group {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.card-title {
    letter-spacing: 0.05rem;
    text-wrap: wrap;
    overflow-y: scroll;
    height: 60px;
    width: 90%;
    margin-left: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-title::-webkit-scrollbar {
    display: none;
}

.card-info-group {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.tag {
    border: 1.5px solid lightgrey;
    color: grey;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.c-icon{
    margin-right: 5px;
}